.post-header {
  margin-bottom: 20px;

  .post-title {
    margin: 0;
    font-size: $post-title-font-size;
    font-weight: 600; //文章标题字体粗细 $post-title-font-weight
    font-family: STzhongsong, serif; //首页文章标题字体
  }

  .post-link {
    @include underline-from-center;
  }

  .post-meta {
    font-size: 14px; //文章字体大小
    font-family: $global-serif-font-family; //文章时间字体
    color: $post-meta-font-color;

    .post-time {
      font-size: 15px; //时间字体大小
    }

    .post-category {
      display: inline;

      a {
        color: inherit;

        &::before {
          content: '・';
        }

        &:hover {
          color: $theme-color;
        }
      }
    }

    .more-meta {
      &::before {
        content: '·';
      }
    }

  }
}
