// ==============================
// Logo
// =============================

.logo-wrapper {
  float: left;

  .logo {
    color: #e9f0ff; //logo字颜色
    font-size: $logo-font-size;
    font-family: $logo-font-family;
  }
}

@include max-screen() {
  .logo-wrapper {
    display: none;
  }
}
