// ==============================
// Menu
// =============================

.site-navbar {
  float: right;

  .menu {
    display: inline-block;
    position: relative;
    padding-left: 0;
    padding-right: 25px;
    font-family: $global-font-family; //目录字体

    .menu-item {
      display: inline-block;

      & + .menu-item {
        margin-left: $menu-item-margin-left;
      }

      @include underline-from-center; //menu下面的线的动画
    }

    .menu-item-link {
      font-size: $menu-link-font-size;
      color: #e9f0ff; //目录字颜色 诶呦我的天呐 必须放这！
    }

  }
}

@include max-screen() {
  .site-navbar {
    display: none;
  }
}
